# Data & artifacts (recreated by pipeline)
data/raw/
data/processed/
models/
mlruns/

# Misc
*.log
.DS_Store
mlflow.db

# Ignore runtime data/artifacts
data/incoming/
mlruns_clean/
reports/*.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual environment
.venv/

# Spark temp files
derby.log
metastore_db/

# OS files
.DS_Store
Thumbs.db
